@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display:400,500,900&display=swap');

:root {
  --primary-color: #425b84;
  --secondary-color: #5b7bb4;
  --max-width: 1100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font: normal 1rem/1.5 'Arial', sans-serif; */
  font-family: Red hat Display, sans-serif;
  background: var(--primary-color);
  color: #0e0101;
  overflow-x: hidden;
  padding-bottom: 50px;
}
a {
  color:#fff;
}
#main-header {
  background: var(--secondary-color);
  padding: 4rem 0;
  color: #fff;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.3rem;
}

.item {
  background: #f4f4f4;
  /*border: #ccc solid 2px;*/
  margin: 10px;
  padding: 10px;
  text-align: left;
  border-radius: 6px;
  flex: 1;
  width: 80%;
  }

.flex-container {
  display: flex;
  flex-direction: column; /* Make it column-wise display*/
  flex-wrap: wrap;
  }

.item-me {
    flex-shrink: 0;
}
.item-chat-gpt {
    flex-grow: 1;
    flex-basis: 0;
    margin-left: 15%;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
